# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
.DS_Store
Centronics/Kicad/freerouting.dsn
Centronics/Kicad/\#auto_saved_files\#
Centronics/Kicad/temp-freerouting.dsn
Centronics/Kicad/~ZX81_Centronics.kicad_pcb.lck
Centronics/Kicad/~ZX81_Centronics.kicad_sch.lck
